
/* logo o day ne */
#logo32 {
    margin-right: 10px;
    margin-top: 0px;
}
#logoName{
    margin-left: 90px;
    margin-top: 3px;
}

#navbar{
    background: #2596be ;
}


#nav-link{
    margin-left: 1200px;
    font-size: 20px;
    margin-top: 0px;
}

/* onsale */
.container{
    max-width: 1600px ! important;
    margin-top: 20px;
}
.view-all{
    margin-top: 7px;

    float: right;
    background-color: #2596be !important;
}



